<div class="img">
  <img src="../../assets/logo.gif"/>
  <img src="../../assets/office4.jpg"/>
</div>

<div class="topnav">
  <a  href="#home">Acceuil </a>
  <a href="#aaa">Actualités</a>
  <a href="#aa">Evénements</a>
  <a href="#about">Temps de travail</a>
  <a href="#about">Formations</a>
  <a href="#about">Concours</a>
  <a href="#about">Fiche de paie</a>
  <a href="#about">Reclamation</a>
  <a href="#about">Discussion</a>
  <a href="#about">Agenda</a>
  <a href="#about">Documents</a>
  <a href="#about">Annuaire des employées</a>
</div>