<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<body>
  
  <header class="header-two-bars">
	<div class="header-first-bar">

		<div class="header-limiter">
      
			<img src="../../assets/icon.png" style="height:50px;margin-top: 3px;">
<div class="text-center" style="margin-left: 8px;">
  <p style="margin-top: 5px;font-size: medium;font-family:Georgia, 'Times New Roman', Times, serif;">Office National Télédiffusion</p>
</div>
     
		</div>

	</div>

	

</header>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/demandes">Mes demandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/actualites">Actualités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Evénnements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formation">Formation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/documents">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fichedepaie">Fiche de paie</a>
        </li> <li class="nav-item">
          <a class="nav-link" href="/reclamation">Reclamation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agenda">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/annuaire">Employées</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tempdetravail">Temps de travail</a>
        </li>
     
     
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      
      <ul class="navbar-nav mb-2 mb-lg-0">
        
        <!-- Navbar dropdown -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle img-fluid"
              height='25' width='25'>
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu dropdown-menu-end p-1" aria-labelledby="navbarDropdown">
           
            <li><a class="dropdown-item" aria-current="page" href="/acceuil">Compte</a></li>
            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
          </ul>
        </li>
      </ul>

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="row" style="background-color:white;">
<br>
<br>
<br>
<br>
</div>
</body>
