<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container-fluid">
    <div class="row bg-dark">
    <div class="col-md-3">
<h1 style="position:center;color:aliceblue;margin-top: 10px;">Freelanci</h1>
    </div><!-- end col -->
    <div class="col-md-9">
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="navitem1" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> 
        <a class="nav-link" href="" >
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item" id="navitem2" routerLink="/orders" routerLinkActive="active">
        <a class="nav-link" href="orders">
          <i class="fa fa-globe">
          </i>
          orders
        </a>
      </li>
      <li class="nav-item" id="navitem3">
        <a class="nav-link" href="services" routerLink="/services" routerLinkActive="active">
          <i class="fa fa-list">
          </i>
          sevices
        </a>
      </li>
      <li class="nav-item" id="navitem4" routerLink="/contact" routerLinkActive="active">
        <a class="nav-link" href="contact">
          <i class="fa fa-at">
          </i>
          contact us
        </a>
      </li>

    </ul>
    <ul class="navbar-nav " id="uli">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bell">
            <span class="badge badge-info">11</span>
          </i>
          notification
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">11</span>
          </i>
          message
        </a>
      </li>
    </ul>
  </div>
</nav>

    </div><!-- end col2 -->
    </div><!-- end row -->
</div><!-- end container -->


 
</body>