<app-header></app-header>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<div class="container padding-bottom-3x mb-1">
  <div class="col-6">
    <div class="section-title">
      <h2>Demande administrative</h2>
  </div>
   </div>
   <br><br>      
  <div class="card mb-3">
         
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                <!--step 1-->
              <div class="step " id="step1">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-list"></i></div>
                  
                </div>
                <h4 class="step-title">Demande souhaitée</h4>
                
              </div>
                <!--step 2-->
              <div class="step" id="step2">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-info"></i></div>
                </div>
                <h4 class="step-title">details</h4>
              </div>
              <!--step 3-->
              <div class="step " id="step3">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-check"></i></div>
                </div>
                <h4 class="step-title">confirmation</h4>
              </div>
            </div>
        </div>
        <div *ngIf="step ==1" class="step1body">
            <div class="form-check" *ngFor="let demande of demandes">
                <label>{{demande}}
                <input class="form-check-input"  type="radio" (change)="changeHandler($event)" value="{{demande}}" name="radio" >
            </label>
              </div>
              
              <button style="margin:60px;" class="btn btn-primary" (click)="next()">Suivant</button>
        </div>
        <!--STEP 2-->
         <div *ngIf="step==2" class="step2body">
        <!--STEP 2 IF ATTESTATION DE TRAVAIL-->
        <div class="row" *ngIf="selectedDemande=='Attestation de travail'"   >
                <div class="form-group">
                   
                      <div >
                        <p>Cliquer pour télécharger votre Attestation de Travail</p>
                      </div>
            </div>
            <div class="col-md-4"> <button style="margin:60px;" class="btn btn-primary" (click)="next();getAttestation()">Télécharger</button></div>
           
        </div>
        <!--END STEP 2 IF ATTESTATION DE TRAVAIL-->
        <!--STEP 2 IF DEMANDE SOCIALE-->
        <div class="row" *ngIf="selectedDemande=='Demande sociale'">
            <div class="form-group">
                <div class="col-md-4" *ngFor="let social of socials">
                  <label><input  type="radio" class="form-check-input" name="id" (change)="changeHandler2($event)" value="{{social}}">
                  {{social}}</label>
           </div>
        </div>
        <div class="col-md-4"> <button style="margin:60px;" class="btn btn-primary" (click)="next()">Télécharger</button></div>
      </div>
    <!--END STEP 2 IF DEMANDE SOCIALE-->
    <!--STEP 2 IF DEMANDE CONGE-->
    <div class="row" *ngIf="selectedDemande=='Demande de congé'">
        <div class="form-group">
        <!---->
        <div class="contact-form">
          <form action="/" method="post" class="contactform contact_form" id="contact_form">
             <div class="returnmessage valid-feedback p-15px-b" data-success="Your message has been received, We will contact you soon."></div>
             <div class="empty_notice invalid-feedback p-15px-b"><span>Please Fill Required Fields</span></div>
                <div class="row">
                 <div class="col-md-2">
                  <div class="form-group">
                    <input id="titre" type="text" placeholder="Matricule" class="form-control">  
                </div>
                
                 </div> 
                 <div class="col-md-4">
                  <div class="form-group">
                    <input id="Nom" type="text" placeholder="Nom et Prénom" class="form-control">  
                </div>
                
                 </div>    
                 <div class="col-md-6">
                     <div class="form-group">
                         <input id="Année" type="text" placeholder="Année" class="form-control">  
                     </div>
                 </div>
                   
                 </div>
                 <br>
                 <div class="row">
                 
                 <div class="col-md-2">
                  <div class="form-group">
                    <input id="titre" type="text" placeholder="Position" class="form-control">  
                </div>
                 </div>   
                 <div class="col-md-3">
                  <div class="form-group">
                    <input id="titre" type="text" placeholder="temps" class="form-control">  
                </div>
                 </div>   
                  <div class="col-md-1">
                     <div class="form-group">
                      <select  class="form-control custom-select-sm w-auto mr-1" >
                        <option value="mixte">mixte</option>
                        <option value="brigade">brigade</option>
                    </select>
                     </div>
                 </div>
                 <div class="col-6">
                  <div class="form-group">
                    <input id="titre" type="text" placeholder="temps" class="form-control">  
                  </div>
              </div>

                 </div>
                 <br>
                 <div class="row">
                     <div class="col-md-2">
                      <div class="form-group"></div>
                      <input id="titre" type="text" placeholder="solde initial" class="form-control">  
                     </div>  
                     <div class="col-md-2">
                      <div class="form-group">
                      <input id="titre" type="text" placeholder="droit de congé" class="form-control"> 
                    </div> 
                     </div> 
                     <div class="col-md-1">
                      <div class="form-group">
                      <input id="titre" type="text" placeholder="congé pris" class="form-control">  
                    </div>
                     </div>
                     <div class="col-md-2">
                      <div class="form-group">
                      <input id="titre" type="text" placeholder="solde a ce jour" class="form-control">  
                    </div>
                     </div>
                     <div class="col-md-2">
                      <div class="form-group">
                      <input id="titre" type="text" placeholder="solde a ce jour" class="form-control">  
                    </div>
                     </div>
                     <div class="col-md-1">
                      <div class="form-group">
                      <input id="titre" type="text" placeholder="Bonus" class="form-control">  
                    </div>
                     </div>
                     <div class="col-md-2">
                      <div class="form-group">
                      <input id="titre" type="text" placeholder="congé pris en instance" class="form-control">  
                     </div>
                    </div>
                  </div>
                     <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                         <select  class="form-control custom-select-sm w-auto mr-1" >
                           <option value="mixte">nature</option>
                           <option value="brigade">congé annuaire</option>
                       </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                       <select  class="form-control custom-select-sm w-auto mr-1" >
                         <option value="mixte">unité de congé</option>
                         <option value="brigade">plein de temps</option>
                     </select>
                      </div>
                  </div>
                  <div class="col-md-1">
                    <div class="form-group">
                     <select  class="form-control custom-select-sm w-auto mr-1" >
                       <option value="mixte">types jours</option>
                       <option value="brigade">Calendaire</option>
                   </select>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input id="titre" type="text" placeholder="Année en cours" class="form-control">  
                  </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input id="titre" type="text" placeholder="Avance sur l'année" class="form-control">  
                </div>
            </div>
                     </div>
                     <br>
                 
             
             <div class="row">
          
              <div class="col-md-2">
                    <div class="form-group">
                     <select  class="form-control custom-select-sm w-auto mr-1" >
                       <option value="mixte">Séance debut (M/S)</option>
                       <option value="brigade">Calendaire</option>
                   </select>
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input id="titre" type="text" placeholder="Date début" class="form-control">  
                  </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                 <select  class="form-control custom-select-sm w-auto mr-1" >
                   <option value="mixte">Séance fin (M/S)</option>
                   <option value="brigade">aprés midi</option>
               </select>
                </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
              <input id="titre" type="text" placeholder="Date fin" class="form-control"> 
            </div>
          </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
              <div class="form-group">
                <input id="titre" type="text" placeholder="NB jours Cal" class="form-control"> 
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input id="titre" type="text" placeholder="Nbr jours ouv" class="form-control"> 
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input id="titre" type="text" placeholder="Nbr jours" class="form-control"> 
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input id="titre" type="text" placeholder="Num Bo" class="form-control"> 
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input id="titre" type="text" placeholder="Motif" class="form-control"> 
                </div>
              </div>
            </div>
             <br>
         </form>
     </div>
    </div>
    <button style="margin:60px;" class="btn btn-primary" (click)="next()">Suivant</button>
</div>
<!--END STEP 2 IF DEMANDE CONGE-->

         </div>         
         <!-- END STEP 2-->
         <div *ngIf="step ==3" class="step3body">
            <div class="col-md-2" *ngIf="social1=='demande avance sur salaire'">
              <div class="form-group">
                <label for="image" class="btn btn-primary">Attacher un Motif</label>
  
                <input type="file"   class="form-control" id="image" style="display: none;" >
  
            </div>
            </div>
            <div class="col-md-4" *ngIf="social1=='demande prime de déces'">
              <div class="form-group">
                <label for="image" class="btn btn-primary">Attacher un extrait de déces</label>
  
                <input type="file"   class="form-control" id="image" style="display: none;" >
  
            </div>
            </div>
            <div class="col-md-4" *ngIf="social1=='demande prime de mariage'">
              <div class="form-group">
                <label for="image" class="btn btn-primary">Attacher un Contrat de marriage</label>
  
                <input type="file"   class="form-control" id="image" style="display: none;" >
  
            </div>
            </div>
            <div class="row"  *ngIf="social1=='demande convention Ooredoo'">
            <div class="col-md-2">
              <div class="form-group">
                <label for="image" class="btn btn-primary">Attacher CIN frontale</label>
  
                <input type="file"   class="form-control" id="image" style="display: none;" >
  
            </div>
          </div>
            
            <div class="col-md-2">
              <div class="form-group">
                <label for="image" class="btn btn-primary">Attacher CIN frontale</label>
  
                <input type="file"   class="form-control" id="image" style="display: none;" >
            </div>
          </div>
            

         
        </div>
         <button style="margin:60px;" class="btn btn-primary" (click)="confirmer()">Confirmer</button>
      </div>
<app-footer></app-footer>