<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<div class="container padding-bottom-3x mb-1">
  <div class="col-6">
    <div class="section-title">
      <h2>Demande administrative</h2>
  </div>
   </div>
   <br><br>      
  <div class="card mb-3">
         
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                <!--step 1-->
              <div class="step " id="step1">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-list"></i></div>
                  
                </div>
                <h4 class="step-title">Demande souhaitée</h4>
                
              </div>
                <!--step 2-->
              <div class="step" id="step2">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-info"></i></div>
                </div>
                <h4 class="step-title">details</h4>
              </div>
              <!--step 3-->
              <div class="step " id="step3">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="fa fa-check"></i></div>
                </div>
                <h4 class="step-title">confirmation</h4>
              </div>
            </div>
        </div>
        <div *ngIf="step ==1" class="step1body">
            <div class="form-check" *ngFor="let demande of demandes">
                <label>{{demande}}
                <input class="form-check-input"  type="radio" (change)="changeHandler($event)" value="{{demande}}" name="radio" >
            </label>
              </div>
              
              <button style="margin:60px;" class="btn btn-primary" (click)="next()">Suivant</button>
        </div>
        <!--STEP 2-->
         <div *ngIf="step==2" class="step2body">
        <!--STEP 2 IF ATTESTATION DE TRAVAIL-->
        <div class="row" *ngIf="selectedDemande=='Attestation de travail'">
                <div class="form-group">
                    <div class="col-md-4">
                    <input type="textarea" class="form-control" placeholder="Description" id="description">
               </div>
            </div>
        </div>
        <!--END STEP 2 IF ATTESTATION DE TRAVAIL-->
        <!--STEP 2 IF DEMANDE SOCIALE-->
        <div class="row" *ngIf="selectedDemande=='Demande sociale'">
            <div class="form-group">
                <div class="col-md-4">
                DEMANDE SOCIALE
           </div>
        </div>
    </div>
    <!--END STEP 2 IF DEMANDE SOCIALE-->
    <!--STEP 2 IF DEMANDE CONGE-->
    <div class="row" *ngIf="selectedDemande=='Demande de congé'">
        <div class="form-group">
            <div class="col-md-4">
            DEMANDE CONGE
       </div>
    </div>
</div>
<!--END STEP 2 IF DEMANDE CONGE-->

            <button style="margin:60px;" class="btn btn-primary" (click)="next()">Suivant</button>
         </div>         
         <!-- END STEP 2-->
         <div *ngIf="step ==3" class="step3body">
            <button style="margin:60px;" class="btn btn-primary" (click)="confirmer()">Confirmer</button>

         </div>
         
      </div>