<body>
   
<section class="intro">
    
    <div class="bg-image h-100" style="background-color: #dddddd;margin-top: 0%;">
      <div class="mask d-flex align-items-center h-100">
        <div class="container-fluid">
            <div class="col-6">
              <div class="section-title">
                <h2>Annuaire des employées</h2>
            </div>
             </div>
          <div class="row justify-content-center" style="display: contents;">
            <div class="col-12">
                  <div class="table-responsive "style="margin-top:2%">
                    <table class="table  mb-0" style="background-color: rgb(255, 255, 255);">
                      <thead >
                        <tr class="text-uppercase">
                          <th scope="col">Matricule</th>
                          <th scope="col">Nom</th>
                          <th scope="col">Prénom</th>
                          <th scope="col">Numéro de téléphone</th>
                          <th scope="col">Email</th>
                        </tr>
                      </thead>
                      <tbody style="-webkit-text-fill-color: rgb(5, 5, 5);">
                        <tr >
                          <td>1234</td>
                          <td>ahmed</td>
                          <td>ben ahmed</td>
                          <td>12345678</td>
                          <td>ahmedbenahmed@gmail.com</td>
                        </tr>
                        <tr>
                          <td>1233</td>
                          <td>mohamed</td>
                          <td> ziedi</td>
                          <td>87654321</td>
                          <td>mohamed@gmail.com</td>
                        </tr>
                        <tr>
                          <td>Crit Cardio</td>
                          <td>Gym</td>
                          <td>9:00 AM - 10:00 AM</td>
                          <td>Aaron Chapman</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Wheel Pose Full Posture</td>
                          <td>Yoga</td>
                          <td>7:00 AM - 8:30 AM</td>
                          <td>Donna Wilson</td>
                          <td>15</td>
                        </tr>
                        <tr>
                          <td>Playful Dancer's Flow</td>
                          <td>Yoga</td>
                          <td>8:00 AM - 9:00 AM</td>
                          <td>Donna Wilson</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Zumba Dance</td>
                          <td>Dance</td>
                          <td>5:00 PM - 7:00 PM</td>
                          <td>Donna Wilson</td>
                          <td>20</td>
                        </tr>
                        <tr>
                          <td>Cardio Blast</td>
                          <td>Gym</td>
                          <td>5:00 PM - 7:00 PM</td>
                          <td>Randy Porter</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Pilates Reformer</td>
                          <td>Gym</td>
                          <td>8:00 AM - 9:00 AM</td>
                          <td>Randy Porter</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Supple Spine and Shoulders</td>
                          <td>Yoga</td>
                          <td>6:30 AM - 8:00 AM</td>
                          <td>Randy Porter</td>
                          <td>15</td>
                        </tr>
                        <tr>
                          <td>Yoga for Divas</td>
                          <td>Yoga</td>
                          <td>9:00 AM - 11:00 AM</td>
                          <td>Donna Wilson</td>
                          <td>20</td>
                        </tr>
                        <tr>
                          <td>Virtual Cycle</td>
                          <td>Gym</td>
                          <td>8:00 AM - 9:00 AM</td>
                          <td>Randy Porter</td>
                          <td>20</td>
                        </tr>
                        <tr>
                          <td>Like a butterfly</td>
                          <td>Boxing</td>
                          <td>9:00 AM - 11:00 AM</td>
                          <td>Aaron Chapman</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Mind &amp; Body</td>
                          <td>Yoga</td>
                          <td>8:00 AM - 9:00 AM</td>
                          <td>Adam Stewart</td>
                          <td>15</td>
                        </tr>
                        <tr>
                          <td>Crit Cardio</td>
                          <td>Gym</td>
                          <td>9:00 AM - 10:00 AM</td>
                          <td>Aaron Chapman</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Wheel Pose Full Posture</td>
                          <td>Yoga</td>
                          <td>7:00 AM - 8:30 AM</td>
                          <td>Donna Wilson</td>
                          <td>15</td>
                        </tr>
                        <tr>
                          <td>Playful Dancer's Flow</td>
                          <td>Yoga</td>
                          <td>8:00 AM - 9:00 AM</td>
                          <td>Donna Wilson</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Zumba Dance</td>
                          <td>Dance</td>
                          <td>5:00 PM - 7:00 PM</td>
                          <td>Donna Wilson</td>
                          <td>20</td>
                        </tr>
                        <tr>
                          <td>Cardio Blast</td>
                          <td>Gym</td>
                          <td>5:00 PM - 7:00 PM</td>
                          <td>Randy Porter</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Pilates Reformer</td>
                          <td>Gym</td>
                          <td>8:00 AM - 9:00 AM</td>
                          <td>Randy Porter</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>Supple Spine and Shoulders</td>
                          <td>Yoga</td>
                          <td>6:30 AM - 8:00 AM</td>
                          <td>Randy Porter</td>
                          <td>15</td>
                        </tr>
                        <tr>
                          <td>Yoga for Divas</td>
                          <td>Yoga</td>
                          <td>9:00 AM - 11:00 AM</td>
                          <td>Donna Wilson</td>
                          <td>20</td>
                        </tr>
                        <tr>
                          <td>Virtual Cycle</td>
                          <td>Gym</td>
                          <td>8:00 AM - 9:00 AM</td>
                          <td>Randy Porter</td>
                          <td>20</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
               
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>