<div class="row bg-sand">
<div class="col-6" style="padding-left: 40px;">
	<div class="section-title">
	  <h2>temps de travail</h2>
  </div>
   </div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-lg-4 col-md-6 mt-4 pt-2">
		<div class="blog-post rounded border">
			<div class="blog-img d-block overflow-hidden position-relative">
				<a href="/tableaudeservice"><img src="../../assets/outils-et-logiciels-de-pointage.jpg" class="img-fluid rounded-top" alt=""></a>
				
			</div>
			<div class="content p-3">
				<h4 class="mt-2"><a href="/tableaudeservice" class="text-dark title">tableau de service</a></h4>
			</div>
		</div>
	</div>
	<!--end col-->
	<div class="col-lg-4 col-md-6 mt-4 pt-2" >
		<div class="blog-post rounded border">
			<div class="blog-img d-block overflow-hidden position-relative">
				<a href="/pointage" ><img src="../../assets/badgeuse-photo-2.svg" class="img-fluid rounded-top" alt="" ></a>
				
			</div>
			<div class="content p-3">
				<h4 class="mt-2"><a href="/pointage" class="text-dark title">pointage</a></h4>
			</div>
		</div>
	</div>
	<!--end col-->
	
	<!--end col-->
</div><!--end row-->
