<div class="row bg-sand">
<div class="col-6" style="padding-left: 40px;">
	<div class="section-title">
	  <h2>temps de travail</h2>
  </div>
   </div>
</div>
<section class="home-blog bg-sand">
	
	<div class="container-fluid">
		<!-- section title -->
	
		<!-- section title ends -->
		<div class="row "style="margin-left:25%">
			<div class="col-md-6"style="width:465px;">
				<div class="media blog-media"id="blog1" style="display: contents;">
				  <a href="/tableaudeservice"style="display: contents;"><img class="d-flex" src="../../assets/outils-et-logiciels-de-pointage.jpg" alt="Generic placeholder image" ></a>
				
				  <div class="media-body" style="width:465px;">
				    <a href="/tableaudeservice"><h5 class="mt-0">tableau de service</h5></a>
				    
				    <a href="/tableaudeservice" class="post-link">voir plus</a>
				  
				  </div>
				</div>
			</div>
			<div class="col-md-6"style="width:465px;">
				<div class="media blog-media" style="display: contents; ">
				  <a href="pointage" style="display: contents;"><img class="d-flex" src="../../assets/badgeuse-photo-2.svg" alt="Generic placeholder image"></a>
				  <div class="media-body" style="width: 475px;">
				    <a href="pointage"><h5 class="mt-0">pointage</h5></a>
				    <a href="pointage" class="post-link">voir plus</a>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>