<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container-fluid mt-100 mt-60">
    <div class="row">
      <div class="col-6">
        <div class="section-title">
          <h2>Actualités</h2>
      
        </div>
       </div>
    </div><!--end row-->

    <div class="row">
        <div *ngFor="let act of actualite" class="col-lg-4 col-md-6 mt-4 pt-2">
            <div  class="blog-post rounded border">
                <div  class="blog-img d-block overflow-hidden position-relative">
                    <img src={{act?.uri}} class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                    <div class="post-meta">
                        <a href="javascript:void(0)" class="text-light read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">{{getMonth(act?.date)}},{{getDay(act?.date)}}</small>
                    <small><a href="javascript:void(0)" class="text-primary">{{act?.type}}</a></small>
                    <h4 class="mt-2"><a href="javascript:void(0)" class="text-dark title">{{act?.title}}</a></h4>
                    <p class="text-muted mt-2">{{act?.description}}</p>
                    
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
    </div><!--end row-->
</div>
<app-footer></app-footer>