<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<section class="section gray-bg" id="contactus">
    <div class="container-fluid">
        <div class="row bg-sand">
            <div class="col-6" style="padding-left: 40px;">
                <div class="section-title">
                  <h2>Ajouter une formation</h2>
              </div>
               </div>
            </div>
        <div class="row flex-row-reverse">
            <div class="col-md-7 col-lg-8 m-15px-tb">
                <div class="contact-form">
                     <form action="/" method="post" class="contactform contact_form" id="contact_form">
                        <div class="returnmessage valid-feedback p-15px-b" data-success="Your message has been received, We will contact you soon."></div>
                        <div class="empty_notice invalid-feedback p-15px-b"><span>Please Fill Required Fields</span></div>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="titre" type="text" placeholder="Titre" class="form-control"  [(ngModel)]="formation.title" [ngModelOptions]="{standalone: true}">  
                                </div>
                                <br>
                                <div class="form-group">
                                    <input id="categorie" type="text" placeholder="Catégorie" class="form-control" [(ngModel)]="formation.categorie" [ngModelOptions]="{standalone: true}">  
                                </div>
                                <br>
                                <div class="form-group">
                                    <input id="theme" type="text" placeholder="Théme" class="form-control" [(ngModel)]="formation.theme" [ngModelOptions]="{standalone: true}">  
                                </div>
                                <br>
                                <div class="form-group">
                                    <input id="cabinet" type="text" placeholder="Cabinet" class="form-control" [(ngModel)]="formation.cabinet" [ngModelOptions]="{standalone: true}">  
                                </div>
                                <br>
                                <div class="form-group">
                                    <input id="formateur" type="text" placeholder="Formateur" class="form-control" [(ngModel)]="formation.formateur" [ngModelOptions]="{standalone: true}">  
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="text" list="productList" class="form-control" name="product" (change)="change($event)" placeholder="Choisir les participants"  [(ngModel)]='suser' [ngModelOptions]="{standalone: true}"  />
                                  <datalist id="productList" >
                                    <select class="form-control custom-select-sm w-auto mr-1">
                                  <option *ngFor="let user of users"  data-guest="user"   >{{user.nom_PERS}} {{user.pren_PERS}}</option>
                                </select>
                                </datalist>
                                
                                </div>
                                <div  class="form-group"><p *ngFor="let user of selectedusers">{{user.nom_PERS}} {{user.pren_PERS}} <button class='fa fa-close' style='color:#c0a5a5' aria-hidden="true" (click)="delete(user)">
                                </button> </p></div>
                                <br>
                            </div>
                            <div class="row">
                                
                            <div class="col-6">
                                <div class="col-6">
                                    Date debut
                                        <div class="col-md-6">
                                            <input type="date" value="2017-06-01"   class="form-control" [(ngModel)]="formation.datedb" [ngModelOptions]="{standalone: true}" id="4">
                                         </div>
                                  <br>
                                  </div>
                                  <div class="col-md-6">
                                    Date fin
                                  <div class="col-md-6">
                                    <input type="date" value="2017-06-01"   class="form-control"[(ngModel)]="formation.datefn" [ngModelOptions]="{standalone: true}" id="4">
                                 </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="image" class="btn btn-primary">ajouter un fichier</label>

                                    <input type="file" (change)="selectFile($event);"  class="form-control" id="image" style="display: none;">

                                </div>
                            </div>
                            
                        </div>
                            <br> <br> <br> <br> <br>
                            <div class="col-md-12">
                                <div class="send">
                                    <button (click)="OnSubmit();" id="send_message" class="px-btn theme" ><span>Ajouter</span> <i class="arrow"></i></button>
                                </div>

                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    
</section>
<app-footer></app-footer>