
<div class="container-fluid">
  <div class="col-6">
    <div class="section-title">
      <h2>Mon Compte</h2>
  </div>
   </div>
    <div class="main-body" >
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card" >
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{response?.pren_PERS+" "+response?.nom_PERS}}</h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                    </div>
                  </div>
                </div>
              </div>
           
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Matricule</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{response?.mat_Pers}}
                        </div>
                      </div>
                      <hr>
                    <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom et Prénom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.pren_PERS+" "+response?.nom_PERS}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      fip@jukmuh.al
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Numéro de téléphone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      (239) 816-9029
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date d'embauche</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.date_EMB1}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date de naissance</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.dat_NAIS}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Code Retrait</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.cod_RETR}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Num_assurance</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.num_ASS}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Solde de congé</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      0
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Fonction</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.cod_FONCT}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Code Grade</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.cod_GRAD}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Echélle</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      1456
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Num Retrait</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.num_RETR}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Poste de travail</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.poste_TRAV}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Régime</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{response?.cod_REG}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn" style="background-color:#20247b ;color:white;" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
