<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<section class="section gray-bg" id="contactus">
    <div class="container-fluid">
        <div class="row bg-sand">
            <div class="col-6" style="padding-left: 40px;">
                <div class="section-title">
                  <h2>Ajouter une actualité</h2>
              </div>
               </div>
            </div>
        <div class="row flex-row-reverse">
            <div class="col-md-7 col-lg-8 m-15px-tb">
                <div class="contact-form">
                     <form action="/" method="post" class="contactform contact_form" id="contact_form">
                        <div class="returnmessage valid-feedback p-15px-b" data-success="Your message has been received, We will contact you soon."></div>
                        <div class="empty_notice invalid-feedback p-15px-b"><span>Please Fill Required Fields</span></div>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="titre" type="text" [(ngModel)]="act.title" type="text" [ngModelOptions]="{standalone: true}" placeholder="Titre" class="form-control">  
                                </div>
                                <br>
                                <div class="form-group">
                                    <input id="sujet" type="text" [(ngModel)]="act.type" type="text" [ngModelOptions]="{standalone: true}" placeholder="Sujet" class="form-control">  
                                </div>
                                <br>
                            </div>
                            <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="date" value="2023-05-24" [(ngModel)]="act.date" [ngModelOptions]="{standalone: true}" class="form-control" id="4">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="image" class="btn btn-primary">Choisir une image</label>

                                    <input type="file" (change)="selectFile($event);"  class="form-control" id="image" style="display: none;">

                                </div>
                                <br>
                            </div>
                        </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea id="description" [(ngModel)]="act.description" type="text" [ngModelOptions]="{standalone: true}" placeholder="Description" class="form-control" rows="3"></textarea> 
                                </div>
                            </div>
                            <br> <br> <br> <br> <br>
                            <div class="col-md-12">
                                <div class="send">
                                    <button (click)="onSubmit();" id="send_message" class="px-btn theme" href="#"><span>Ajouter</span> <i class="arrow"></i></button>
                                </div>
                               
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</section>
