<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<body>
  <div class="col-6">
    <div class="section-title"style="padding-left: 40px;">
      <h2>Mes formations</h2>
  </div>
   </div>
<div class="row">
<div class="col-md-6"></div>
  <div class="col-md-2">
    <select style="margin-top: 21px;" class="form-control custom-select-sm w-auto mr-1" (change)="Select($event)" [(ngModel)]="selected" [ngModelOptions]="{standalone:true}">
      <option>Tous les categories</option>
      <option >Informatique</option>
      <option>Réseau</option>
      <option>Communication</option>
      <option>qqc</option>
      <option>qqc</option>
  </select>
  </div>
  <div class="col-md-2">
    <select style="margin-top: 21px;" class="form-control custom-select-sm w-auto mr-1" (change)="SelectA($event)" [(ngModel)]="selectedA" [ngModelOptions]="{standalone:true}">
      <option>Tous les années</option>
      <option selected="">2023</option>
      <option value="1">2022</option>
      <option value="3">2021</option>
      <option value="3">2020</option>
      <option value="3">2019</option>
  </select>
  </div>
  <div class="col-md-2">
    <select style="margin-top: 21px;" class="form-control custom-select-sm w-auto mr-1">
      <option selected="true">Toutes les formations</option>
      <option value="1">Terminées</option>
      <option value="3">non Terminées</option>

  </select>
  </div>
</div>

    
 
<table class="table table-striped"  >
    <thead>
      <tr>
        <th scope="col">Catégorie</th>
        <th scope="col">Théme</th>
        <th scope="col">Date debut</th>
        <th scope="col">Date fin</th>
        <th scope="col">Cabinet</th>
        <th scope="col">Formateur</th>
        <th scope="col">Télécharger</th>

    </tr>
    </thead>
    <tbody  *ngFor="let x of response">
      <tr>
        <th scope="row">{{x.categorie}}</th>
        <td>{{x.theme}}</td>
        <td>{{x.datedb}}</td>
        <td>{{x.datefn}}</td>
        <td>{{x.cabinet}}</td>
        <td>{{x.formateur}}</td>
        <td><button (click)="download(x.uri,getfilename(x.uri))" class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
     
      
    </tbody>
  </table>
</body>
<app-footer></app-footer>