<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<body>
  <div class="col-6">
    <div class="section-title"style="padding-left: 40px;">
      <h2>Mes formations</h2>
  </div>
   </div>
<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <input  id="search-focus" type="search" id="form1" class="form-control" placeholder="Rechercher une formation" />
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <select style="margin-top: 21px;margin-left: 50px;" class="form-control custom-select-sm w-auto mr-1">
      <option selected="">Informatique</option>
      <option value="1">Réseau</option>
      <option value="3">Communication</option>
      <option value="3">qqc</option>
      <option value="3">qqc</option>
  </select>
  </div>
  <div class="col-md-4">
    <select style="margin-top: 21px;margin-left: 50px;" class="form-control custom-select-sm w-auto mr-1">
      <option selected="">2023</option>
      <option value="1">2022</option>
      <option value="3">2021</option>
      <option value="3">2020</option>
      <option value="3">2019</option>
  </select>
  </div>
</div>

    
 
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Catégorie</th>
        <th scope="col">Théme</th>
        <th scope="col">Date</th>
        <th scope="col">Cabinet</th>
        <th scope="col">Formateur</th>
        <th scope="col">Télécharger</th>

    </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>x</td>
        <td><button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
      
    </tbody>
  </table>
</body>